@{
	ViewData["Title"] = "Rol Permisos";
	 Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<br />
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			 <div class="div-title">
				<h3 class="text-center">Rol Permisos</h3>
			 </div>
			 <hr />
			 <br />	
            @using (Html.BeginForm())
            {
				<div class="row">					
					<div class="form-group col">
						<input type="hidden" name="Idrol2" id="Idrol2" value="@ViewData["Idrol2"]" />
						<label class="control-label">(*) Roles: </label>
						<select class="form-control" id="Idrol" name="Idrol" asp-items="@(new SelectList(ViewBag.rol, "Idrol", "rol_desc"))">
                            <option>Seleccione rol</option>
                        </select>					
					</div>
				</div>	
				<div class="row">
					 <div class="col-md-6">					
						<input type="submit" value="Buscar" class="btn btn-primary btn-sm" formaction="@Url.Action("Index","MDRolperView")" />
						<input type="submit" id="asignar" value="Asignar" class="btn btn-primary btn-sm"/>
					</div>	
				</div>
			}
		</div>
		<div id="checkid" class="card-body">
			<div class="col">
				<nav>
                    <div class="nav nav-tabs nav-fill" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-admin" role="tab" aria-selected="true">Administracion</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-planificacion" role="tab" aria-controls="nav-planificacion" aria-selected="false">Planificacion</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-operacion" role="tab" aria-controls="nav-operacion"  aria-selected="false">Operacion</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-logistica" role="tab" aria-controls="nav-logistica" aria-selected="false">Logistica</a>
						<a class="nav-item nav-link" data-toggle="tab" href="#nav-mantenimiento" role="tab" aria-controls="nav-mantenimiento"  aria-selected="false">Mantenimiento</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-tesoreria" role="tab" aria-controls="nav-tesoreria" aria-selected="false">Tesoreria</a>
						<a class="nav-item nav-link" data-toggle="tab" href="#nav-reportes" role="tab" aria-controls="nav-reportes" aria-selected="false">Reportes</a>
                    </div>
                </nav>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="nav-admin" role="tabpanel">
						<table  id="tbladmin" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.admin)
								{
									<tr>
										<td class="d-none check">
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>

											@item.submenu_desc
										</td>
										<td>
											@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}										
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="nav-planificacion" role="tabpanel">
						<table id="tblplani" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.plani)
								{
									<tr>
										<td class="d-none check">
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>
											@item.submenu_desc
										</td>
										<td>
											@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}										
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="nav-operacion" role="tabpanel">
						<table id="tbloper" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.oper)
								{
									<tr>
										<td class="d-none check">
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>

											@item.submenu_desc
										</td>
										<td>
											@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}										
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="nav-logistica" role="tabpanel">
						<table id="tbllogic" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.logi)
								{
									<tr>
										<td class="d-none check">
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>

											@item.submenu_desc
										</td>
										<td>
											@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}											
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="nav-mantenimiento" role="tabpanel">
						<table id="tblmante" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.mante)
								{
									<tr>
										<td class="d-none check" >
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>

											@item.submenu_desc
										</td>
										<td>
											@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}												
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="nav-tesoreria" role="tabpanel">
						<table id="tbltesor" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.tesor)
								{
									<tr>
										<td class="d-none check" >
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>

											@item.submenu_desc
										</td>
										<td>
										@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}			
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="nav-reportes" role="tabpanel">
						<table id="tblrepor" class="table table-striped table-bordered" style="width: 100%">
							<thead>
								<tr>
									<th class="d-none">
										id_rolperm
									</th>
									<th>
										Rol
									</th>
									<th>
										Menu
									</th>
									<th>
										Submenu
									</th>
									<th>
										Activo / Inactivo
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in ViewBag.repor)
								{
									<tr>
										<td class="d-none check">
											@item.id_rolperm
										</td>
										<td id="idesta">
											@item.rol_desc
										</td>
										<td>
											@item.menu_desc
										</td>
										<td>

											@item.submenu_desc
										</td>
										<td>
											@if(item.rolperm_act)
											{
												<input name="check"  type="checkbox" value=@item.id_rolperm checked="checked" />
											}
											else
											{
												<input name="check" type="checkbox" value=@item.id_rolperm />
											}											
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>


@section Scripts {
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function (){
			$(function () {
				$("#Idrol").select2({

				});	
			});
			$('#tbladmin').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#tblplani').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#tbloper').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#tbllogic').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#tblmante').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#tbltesor').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#tblrepor').DataTable({
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				}
			});

			$('#asignar').click(function(){
				var menus = new Array();    
				var Idrol = $("#Idrol2").val() 
				$('#checkid input[type=checkbox]').each(function(){
					if (this.checked) {
						menus.push($(this).val());
					}
				}); 
				if (menus != ''){
					 var menulist = {
						 oMenus: menus
					}					
					$.ajax({
						url: "@Url.Action("otorgar", "MDRolperView")",
						traditional: true,
						data: { 'menus': menus, 'Idrol': Idrol },
						success: function(result){										 
							swal('Mensaje de confirmacion', 'Carga eliminada', 'success');
							
						}
					});			
				}					  
				else{
					alert('Debes seleccionar al menos una opción.');
				}
					
				return false;
			});         			              

			//$("#btnbuscar").click(function() {
			//	var Idrol = $("#Idrol").val()  																	
			//	$.ajax({
			//	url: "@Url.Action("Index", "MDRolperView")",
			//	data: { Idrol: Idrol } ,
			//	type: "GET",
			//	success: function(result){										 
			//		 swal('Mensaje de confirmacion', 'busqueda realizada ', 'success');
			//	      ReloadGrid();
			//		}
			//	});					
			//});

		});	

	</script>
}